a,
            div,
            footer,
            header,
            main,
            nav,
            section {
                -webkit-box-sizing: border-box;
                   -moz-box-sizing: border-box;
                        box-sizing: border-box;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            small,
            span,
            strong {
                font-family: inherit;
                font-size: inherit;
                font-weight: 400;
                color: inherit;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                text-rendering: inherit;
            }

            html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

            html { font-size: 100%; line-height: 1; }

            body, html { height: 100%; }

            body,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            html,
            img,
            p,
            small,
            span,
            strong {
                margin: 0;
                padding: 0;
            }

            a:active,
            a:hover {
                outline-width: 0;
            }

            .tr-optimizeLegibility { text-rendering: optimizeLegibility; }

            .ff-whitney { font-family: 'Whitney SSm A', 'Whitney SSm B',-apple-system,BlinkMacSystemFont,Roboto,Open Sans,'Helvetica Neue',sans-serif; }

            .display-inline { display: inline; }

            .ws-nowrap { white-space: nowrap; }

            .color-blue { color: #2196f3; }
            .color-charcoal { color: #192124; }
            .color-steel { color: #607d8b; }

            .bc-snow { background-color: #eceff1; }
            .bc-amberTint { background-color: #fff8e1; }

            .ttf-linear { -webkit-transition-timing-function: linear; transition-timing-function: linear; }
            .tp-all { -webkit-transition-property: all; transition-property: all; }
            .td-xs { -webkit-transition-duration: 50ms; transition-duration: 50ms; }

            .td-none { text-decoration: none; }

            .os-none { outline-style: none; }

            .fw-3 { font-weight: 300; }
            .fw-4 { font-weight: 400; }

            .cursor-pointer { cursor: pointer; }

            .bw-0 { border-width: 0; }
            .bbw-1 { border-bottom-width: 1px; }
            .bw-1 { border-width: 1px; }
            .bs-solid { border-style: solid; }
            .borderColor-blueTint { border-color: #e3f2fd; }
            .borderColor-blue { border-color: #2196f3; }

            .pb-xl { padding-bottom: 8rem; }
            .pt-xl { padding-top: 8rem; }
            .pb-l { padding-bottom: 4rem; }
            .pt-l { padding-top: 4rem; }
            .pl-l { padding-left: 4rem; }
            .padding-0 { padding: 0; }

            .mt-m { margin-top: 2rem; }
            .ml-m { margin-left: 2rem; }
            .mt-l { margin-top: 4rem; }
            .mb-l { margin-bottom: 4rem; }
            .mb-xs { margin-bottom: 1rem; }
            .mb-xxs { margin-bottom: .5rem; }
            .margin-0 { margin: 0; }

            .mt-fc > div:first-child,
            .mt-fc > li:first-child {
                margin-top: 0;
            }

            .ml-fc > div:first-child,
            .ml-fc > li:first-child {
                margin-left: 0;
            }

            .lst-none { list-style-type: none; }

            .horizontallyCenter { margin-left: auto; margin-right: auto; }

            .clearfix { zoom: 1; }

            .fs-l { font-size: 2rem; }
            .fs-m { font-size: 1.6rem; }
            .fs-s { font-size: 1.4rem; }

            .width-100 { width: 100%; }
            .width-90 { width: 90%; }

            .display-table { display: table; }
            .display-tableCell { display: table-cell; }

            .ta-center { text-align: center; }
            .ta-right { text-align: right; }

            .va-middle { vertical-align: middle; }

            .ls-s { letter-spacing: -.5px; }

            .inline > div { display: inline-block; }

            .position-relative { position: relative; }
            .position-absolute { position: absolute; }

            .lh-m { line-height: 2.9rem; }
            .lh-s { line-height: 2.6rem; }
            .lh-xs { line-height: 2.4rem; }

            @media (min-width: 38em) {
                .bps-pb-xxl { padding-bottom: 10.2rem; }
                .bps-pt-xxl { padding-top: 10.2rem; }

                .bps-lh-l { line-height: 3.7rem; }
                .bps-lh-m { line-height: 2.9rem; }
                .bps-lh-s { line-height: 2.6rem; }

                .bps-fs-xl { font-size: 2.6rem; }
                .bps-fs-l { font-size: 2rem; }
                .bps-fs-m { font-size: 1.6rem; }

                .bps-width-20 { width: 20%; }
                .bps-width-75 { width: 75%; }
                .bps-width-60 { width: 60%; }

                .bps-pt-xxs { padding-top: .5rem; }
                .bps-mb-0 { margin-bottom: 0; }

                .bps-display-tableCell { display: table-cell; }

                .bps-va-top { vertical-align: top; }
            }

            @media (min-width: 68em) {
                .bpm-width-50 { width: 50%; }
                .bpm-width-40 { width: 40%; }
            }

            @media (hover) {
                .color-charcoal--hover:hover { color: #192124; }
                .borderColor-blue--hover:hover { border-color: #2196f3; }
            }
